.modal-callback {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: none;
  width: 100%;
  height: 100%;

  opacity: 0;
  transition: opacity 0.2s;
}

.modal-callback_active {
  display: block;

  opacity: 1;
  transition: opacity 0.2s;
}

.modal-callback__backdrop {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.callback_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  width: 630px;
  padding: 50px;

  text-align: center;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 43px rgba(40, 40, 40, 0.33);
  transform: translate(-50%, -50%);
}

.callback_modal .callback__form {
  padding: 0;
}

.modal-callback__title {
  margin-bottom: 60px;

  font-size: 42px;
}

.modal-callback__title_error {
  margin-top: 0;
  margin-bottom: 40px;
}

.modal-callback__text {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 18px;
  color: #a8a8a8;
}

.modal-callback__text_error {
  margin-top: 35px;
  margin-bottom: 0;
}

.modal-callback__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-callback__input {
  width: 420px;
  margin-bottom: 0;
  padding: 20px 40px;

  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.47px;
  color: #a8a8a8;

  border-color: #e8e8e8;
  border-radius: 35px;
  box-shadow: 0 0 59px rgba(40, 40, 40, 0.05);
}

.modal-callback__input::placeholder {
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  font-family: "Muller", sans-serif;
  letter-spacing: 0.47px;
  color: #a8a8a8;
}

@media (max-width: 768px) {
  .callback_modal {
    width: 90vw;
    padding: 25px 15px;
  }

  .modal-callback__input {
    width: 85%;
    padding: 10px 15px;
  }

  .modal-callback__input::placeholder {
    font-size: 16px;
  }

  .modal-callback__title {
    margin-bottom: 40px;
    font-size: 30px;
  }

  .modal-callback__text {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.btn {
  padding: 17px 33px;
  padding-bottom: 13px;
}

.btn:focus {
  box-shadow: -1px 5px 13px rgba(19, 19, 19, 0.34) !important;
}

.btn-pink{
  color:white !important;
}

.btn-pink:hover {
  background-color: #cb1b60 !important;
  color:white !important;
}

.header__btn {
  padding: 0;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.2s
}

.header__btn:hover, .header__btn:active, .header__btn:focus {
  color: #e32c74;
  transition: color 0.2s
}

.btn_callback {
  padding: 19px 70px;
  padding-bottom: 15px;
  letter-spacing: 0.7px;
  border-radius: 26px;
  background-color: #e32c74;
}

.arrow-svg_callback {
  top: 8px;
  width: 30px;
  height: 30px;
  transform: rotate(-40deg);
}

.btn-arrow_callback {
  margin-top: 60px;
}

@media (max-width: 576px) {
  .arrow-svg_callback {
    display: none;
  }

  .btn-arrow_callback {
    margin-top: 20px;
  }
}

.form__close {
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
}

.form__close:hover span {
  background-color: #797979;
}

.form__close span {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 4px;
  border-radius: 2px;
  background-color: #acacac;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form__close span:first-of-type {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form__close span:last-of-type {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header__phone_col {
  flex-direction: column;
}

.auth-title {
  margin-bottom: 30px;
}

.header__stars {
  pointer-events: none;
}

/**
 * 404
 */

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found__bot {
  margin-top: 30px;
}

.not-found__head {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: flex-end;
}

.not-found__ufo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ufo,
.zero,
.light {
  position: relative;
  z-index: 1;
}

.ufo {
  top: 20px;
}

.light {
  width: 219px;
}

.cow {
  position: absolute;
  z-index: 2;
  bottom: 100px;
  animation: flyingCow 12s linear infinite;
}

@keyframes flyingCow {
  0% {
    bottom: 40px;
  }
  25% {
    bottom: 80px;
  }
  50% {
    bottom: 140px;
  }
  75% {
    bottom: 80px;
  }
  100% {
    bottom: 40px;
  }
}

.st0 {
  opacity: 0.3;
  animation: lightPulsate 5s ease-in-out infinite;
}

.st1 {
  opacity: 0.15;
  fill: #00DFFF;
}

.st2,
.st4,
.st5,
.st6 {
  opacity: 0.15;
  animation: firstLines 10s linear infinite;
}

.st4  {
  animation: firstLines 6s linear infinite;
}

.st5 {
  animation: firstLines 8s linear infinite;
}

.st6 {
  animation: firstLines 3s linear infinite;
}

.st3 {
  fill: #F2FFFF;
  animation: firstLines 3s linear infinite;
}

@keyframes firstLines {
  0% {
    transform: translateY(150px);
  }
  25% {
    transform: translateY(75px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-75px);
  }
  100% {
    transform: translateY(-150px);
  }
}

@keyframes lightPulsate {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.35;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.35;
  }
  100% {
    opacity: 0.2;
  }
}

.modal-callback__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-callback__text_progress {
  margin: 0;
  color: black;
}

.modal-progress__title {
  margin: 20px 0;
  font-size: 42px;
}